command=~/.local/bin/statusbar/$BLOCK_NAME
separator_block_width=15
markup=pango

[record]
command=cat /tmp/recordingicon
interval=once
signal=9

[music]
label=🎼
interval=once
signal=11

#[iplocate]
#interval=30

#[pacpackages]
#interval=once
#signal=8

#[memory]
#interval=30

#[cpu]
#interval=15

[volume]
interval=once
signal=10

#[disk]
#interval=60
#command=disk /

#[disk]
#interval=60
#command=disk /home

[battery]
command=battery BAT0
interval=5

[clock]
label=📅
interval=30

[internet]
interval=10

#[iface]
#label=🌐
#color=#00FF00
#interval=10

#[wifi]
#label=☝
#interval=10
