QWidget, QTabWidget::pane, QTabWidget::tab-bar {
    background-color: #003263;
}

QTabBar
{
	background-color: #000;
}

QTabBar::tab
{
    color: #999;
}


QTabBar::tab:selected
{
	width: 200%;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid red;
	/* padding: 10px; */
	margin: 5px 2px;
}
